<header>
  <h1>Obróć pliki PDF w trzech prostych krokach</h1>
</header>
<main>
  <p>Jak obrócić plik PDF? Za pomocą tego narzędzia możesz to zrobić szybko i za darmo.</p>
  <app-tool></app-tool>
  <h2>Do czego mi się to przyda?</h2>
  <p>Obrócenie dokumentu często może sprawiać problemy, ponieważ popularne programy do wyświetlania PDF często nie
    oferują tej opcji za darmo.<br>Często po skorzystaniu na przykład z drukari PDF (chociażby Microsoft Print to PDF)
    dostajemy plik zorientowany błędnie.<br>W takiej sytuacji z pomocą przychodzi to narzędzie.</p>
  <h2>O narzędziu</h2>
  <p>Narzędzie nie przechowuje żadnych kopii przetwarzanych dokumentów (zarówno oryginalnych jak i obróconych).<br>Narzędzie nie dodaje żadnych znaków wodnych do przetworzonego dokumentu.
    <br>Strona działa na bazie frameworka Angular oraz języka Python</p>
</main>
<footer>
  <p>Jakub Włodarczyk 2020</p>
</footer>